<% if (title) { %><% } %>
<h1><%= title %></h1>
<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="login-container">
  <form id="loginForm" action="/account/login" method="post" class="login-form">
    <div class="form-group">
      <p>All fields are required</p>
      <label for="account_email">Email:</label>
      <input
        type="email"
        id="account_email"
        name="account_email"
        placeholder="Enter your email address"
        required
        value="<%= locals.account_email || '' %>"
      />
    </div>
    <div class="form-group password-group">
      <label for="account_password">Password:</label>
      <div class="password-input-container">
        <input
          type="password"
          id="account_password"
          name="account_password"
          placeholder="Enter your password"
          pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
          required
        />
        <button
          type="button"
          id="pswdBtn"
          class="btn btn-secondary show-password-btn"
        >
          Show Password
        </button>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">LOGIN</button>
    </div>
  </form>

  <div class="register-link">
    <p>
      No account?
      <a href="/account/register" title="Create a new account">Sign-up</a>
    </p>
  </div>
</div>

<script>
  const pswdBtn = document.querySelector("#pswdBtn");
  if (pswdBtn) {
    pswdBtn.addEventListener("click", function () {
      const pswdInput = document.getElementById("account_password");
      const type = pswdInput.getAttribute("type");
      if (type == "password") {
        pswdInput.setAttribute("type", "text");
        pswdBtn.innerHTML = "Hide Password";
      } else {
        pswdInput.setAttribute("type", "password");
        pswdBtn.innerHTML = "Show Password";
      }
    });
  }
</script>
