<nav class="navigation">
  <%- nav %>
  <!-- <ul class="navigationul">
    <li class="navigationli">Home</li>
    <li class="navigationli">Custom</li>
    <li class="navigationli">Sedan</li>
    <li class="navigationli">SUV</li>
    <li class="navigationli">Truck</li>
  </ul> -->
</nav>
