<h1><%= title %></h1>

<%- messages() %>

<div class="management-container">
  <div class="management-card">
    <p>Use the links below to manage classifications and inventory:</p>

    <div class="management-actions">
      <a href="/inv/add-classification" class="btn btn-primary">
        Add New Classification
      </a>

      <a href="/inv/add-inventory" class="btn btn-primary">
        Add New Inventory
      </a>
    </div>
    <div>
      <h2>Manage Inventory</h2>
      <p>Choose a classification to see those inventory items</p>
      <%- classificationSelect %>

      <table id="inventoryDisplay"></table>

      <noscript>JavaScript must be enabled to use this page.</noscript>

      <script src="../../js/inventory.js"></script>
    </div>
  </div>
</div>
