<div class="serverError">
  <% if (title) { %>
  <h1 class="serverTitle"><%= title %></h1>
  <p><%- message %></p>
  <% if (title == 500 || title == 'Server Error') { %> <% } %> <% } else { %> <%
  res.redirect('/') %> <% } %>
</div>
